In [2]:
import pandas as pd 
import numpy as np 
from sklearn import tree
from sklearn import preprocessing

In [3]:
data = pd.read_csv("general_data.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
data.NumCompaniesWorked = np.where(data.NumCompaniesWorked.isnull(),
                                  data.NumCompaniesWorked.mean(),
                                  data.NumCompaniesWorked)

In [6]:
data.TotalWorkingYears = np.where(data.TotalWorkingYears.isnull(),
                                  data.TotalWorkingYears.mean(),
                                  data.TotalWorkingYears)

In [8]:
data.isnull().sum().sum()

0

In [9]:
from sklearn import preprocessing
# le = preprocessing.LabelEncoder()
encoded_data = data.apply(preprocessing.LabelEncoder().fit_transform)
encoded_data

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,33,0,2,2,5,1,1,0,0,0,...,1,0,0,0,0,1,6,1,0,0
1,13,1,1,1,9,0,1,0,1,0,...,0,0,12,0,1,6,3,5,1,4
2,14,0,1,1,16,3,4,0,2,1,...,1,0,4,0,3,5,2,5,0,3
3,20,0,0,1,1,4,1,0,3,1,...,4,0,0,0,3,14,5,8,7,5
4,14,0,2,1,9,0,3,0,4,1,...,5,0,1,0,2,9,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,24,0,2,1,4,3,3,0,4405,0,...,4,0,6,0,1,10,5,3,0,2
4406,11,0,2,1,1,3,3,0,4406,1,...,2,0,4,0,0,10,2,3,0,2
4407,7,0,2,1,24,1,1,0,4407,1,...,0,0,9,0,0,5,4,4,1,2
4408,24,0,2,2,17,1,3,0,4408,1,...,0,0,3,0,1,10,2,9,7,8
4409,22,0,2,1,27,2,3,0,4409,1,...,0,0,1,0,0,12,6,21,3,9

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
rf_model

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
data.columns
features=['Age','BusinessTravel', 'Department', 'DistanceFromHome','Education', 'EducationField',
          'Gender','JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome','NumCompaniesWorked',
          'PercentSalaryHike','TotalWorkingYears','YearsAtCompany','YearsSinceLastPromotion', 
          'YearsWithCurrManager']

In [15]:
rf_model.fit(X=encoded_data[features],y=encoded_data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [16]:
print("OOB Accurary")
print(rf_model.oob_score_)

OOB Accurary
0.9997732426303855

In [17]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.1058880930981884
BusinessTravel 0.030489461043937363
Department 0.027453490607434922
DistanceFromHome 0.07782875174310168
Education 0.044679739997869464
EducationField 0.04521266689944423
Gender 0.02000394913192163
JobLevel 0.04158686077714725
JobRole 0.06211818967816328
MaritalStatus 0.042338040950368735
MonthlyIncome 0.10462265628189929
NumCompaniesWorked 0.06040418374633212
PercentSalaryHike 0.07190009360989534
TotalWorkingYears 0.09159116152013105
YearsAtCompany 0.07171997474537412
YearsSinceLastPromotion 0.046773458626421335
YearsWithCurrManager 0.05538922754236973

In [27]:
predictors = pd.DataFrame(encoded_data["YearsAtCompany"],encoded_data["Department"])

In [28]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)
tree_model.fit(X=predictors,y=encoded_data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=8, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
with open("Dtree8.dot","w")as f:
    f=tree.export_graphviz(tree_model,feature_names=predictors.columns,out_file=f)

In [30]:
tree_model.score(X=predictors,y=encoded_data["Attrition"])

0.8387755102040816